@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

.session h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}

.session img {
  width: e0px;
  height: 30px;
}

.session p,
.submit {
  margin-top: 20px;
}

.session #bar,
.submit {
  width: 270px;
  height: 55px;
  padding: 15px;
  border-radius: 7px;
}

.session select {
  width: 270px;
  height: 55px;
  padding: 15px;
  border-radius: 7px;
  border: 2px solid black;
}

.session .submit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 2.5px solid white;
  cursor: pointer;
}

.session .submit:hover {
  background-color: white;
  border: 2.5px solid black;
  color: black;
  cursor: pointer;
}

.pages {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: 15px;
}

.pages a {
  text-decoration: none;
}

.back {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15px;
}

select{
  font-family: "Roboto", sans-serif;
}

#mensajeEmergente,
#ventanaQR,
#paypal-button-container {
  display: none;
  position: fixed;
  font-family: "Roboto", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#mensajeEmergente button,
#ventanaQR button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
}

#mensajeEmergente button:hover,
#ventanaQR button:hover {
  background-color: white;
  border: 2.5px solid black;
  color: black;
  cursor: pointer;
}
